/* Global page styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f9;

  /* center the card */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* The business card container */
.card {
  background-color: #ffffff;
  padding: 40px 50px;
  border-radius: 20px;
  width: 95%;
    max-width: 500px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

/* Logo image */
.logo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Name + title */
.name {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #7e0928
}

.title {
  margin: 5px 0 20px 0;
  font-size: 16px;
  color: #555555;
}

/* Info text (email, phone, etc.) */
.info p {
  margin: 8px 0;
  font-size: 15px;
}

/* Links */
a {
  color: #176c80;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.add-contact-btn {
  margin-top: 20px;
  padding: 10px 18px;
  background-color: #176c80;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.add-contact-btn:hover {
  background-color: #176c80;
}
